<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head.ejs"); %>
</head>
<body>
    <div class="wrapper">
        <header>
            <%- include("./partials/header.ejs"); %>
        </header>
        <main>
            <form action="/edit" method="UPDATE">
                <% game.map((data) => { %>
                <div class="form-row">
                    <label for="title">Title: </label>
                    <input type="text" name="title" id="title" value="<%= data.game_name %>">
                </div>
                <div class="form-row">
                    <label for="genre">Genre: </label>
                    <input type="text" name="genre" id="genre" value="<%= data.genre %>">
                </div>
                <div class="form-row">
                    <label for="studio">Game Studio: </label>
                    <input type="text" name="studio" id="studio" value="<%= data.studio_name %>">
                </div>
                <div class="form-row">
                    <label for="release">Release year: </label>
                    <input type="text" name="release" id="release" value="<%= data.release_year %>">
                </div>
                <% }); %>
            </form>
        </main>
        <footer>
            <%- include("./partials/footer.ejs", { links: links }); %>
        </footer>
    </div>
</body>
</html>